<h1>Contact</h1>
<div class="span-left">
<p>Fill out the form below and we'll get back to you as soon as possible!</p>
<form>
<input type="text" value="name" id="name" /><br />
<input type="text" value="email" id="email" /><br />
<textarea rows="10" cols="30">
Comments
</textarea>
<br />
<input type="submit" value="Submit" id="submit" class="btn" />
</form>
</div>

<div class="span-right">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=318+Cherokee+Avenue+SE+%23104+Atlanta,+Georgia+30312&amp;aq=&amp;sll=33.745196,-84.373541&amp;sspn=0.003885,0.008256&amp;ie=UTF8&amp;hq=&amp;hnear=318+Cherokee+Ave+SE+%23104,+Atlanta,+Georgia+30312&amp;t=m&amp;ll=33.74611,-84.373369&amp;spn=0.024979,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=318+Cherokee+Avenue+SE+%23104+Atlanta,+Georgia+30312&amp;aq=&amp;sll=33.745196,-84.373541&amp;sspn=0.003885,0.008256&amp;ie=UTF8&amp;hq=&amp;hnear=318+Cherokee+Ave+SE+%23104,+Atlanta,+Georgia+30312&amp;t=m&amp;ll=33.74611,-84.373369&amp;spn=0.024979,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>