<div id="top-bar">
    <a href="">log in</a>
</div>

<div class="wrapper">
<nav>
    <ul>
    <li>
        <a href="">Home</a>
    </li>
        <li>
            <a href="">About</a>
    </li>
        <li>
            <a href="">Contact</a>
    </li>
</ul>
</nav>

<h1>Lorem Ipsum</h1>

<p id="paragraph">Integer dignissim euismod felis sed aliquet. Donec non facilisis erat, id consectetur purus. Nulla a posuere tortor. Donec eu erat condimentum, tristique metus at, mattis tortor. Curabitur faucibus, diam eget facilisis vulputate, orci leo pretium leo, vel iaculis urna nunc in ipsum. Suspendisse at magna sed dui feugiat convallis. Vivamus vestibulum augue lectus, in condimentum lectus consectetur in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec in est rutrum, euismod dui consectetur, egestas lorem. Vestibulum lobortis elit tellus, ac imperdiet libero placerat in.</p>
<button id="show_me_button" onClick="show_me()">Show me!</button>
</div><!--END WRAPPER-->
<footer>
    <div class="wrapper">
    <ul id="footer">
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
    </div>
</footer>
